*{
 background-color: rgb(188, 191, 200);
 font-family: 'Nunito Sans', sans-serif;
 font-family: 'Playfair Display', serif;
 font-family: 'Poppins', sans-serif
}

.image{
  max-width: 50%;
  display: block;
  margin-top: 2%;
}

.App-header{
  display: flex;
  flex-direction: column; /* Align items vertically */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  height: 100%;
  margin-top: 5%;;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
}

.intro{
  margin: 0 20%;
}

.textouno{
  background-color: rgb(160, 161, 166) ;
  font-size: 20px;
}



.coloruno{
  color:rgb(4, 125, 200);
  display: inline;
}

.colordos{
  color: green;
  display: inline;
}

.portadas {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 5px;
  justify-content: center; /* Center items horizontally */
  align-self: center;
  margin-left: 10%;
  margin-right: 10%;
}

.portada {
  height: 100px;
  width: 100px;
  margin: 0;
  justify-self: center; /* Center items horizontally */
  align-self: center; /* Center items vertically */
}

h4 {
  text-align: center;
}

.footer{
  margin-left: 5%;
}